{% extends "layout.html" %}
{% block nav %}
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top" data-spy="affix">
        <div class="container-fluid">
	    <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{ url_for('index') }}"><i class="ion-ios-pulse"></i>epitomii </a>
	    </div>


	    <div class="navbar-collapse collapse" id="bs-navbar">
			<ul class="nav navbar-nav navbar-right">
		    <li>
			<a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="{{ url_for("index") }}">Home</a>
		    </li>
		</ul>
	    </div>
    	</div>
    </nav>    

{% endblock nav %}
{% block body %}
    <section id="archive">
	<div class="container">
            <div class="row">

		{% for jam in jams %}
		    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<div class="embed-responsive embed-responsive-16by9">
  			    <iframe class="embed-responsive-item" src={{ jam.url }}></iframe>
			</div><br>
		    </div>
		{% endfor %}

	    </div>
	</div>

    </section>
{% endblock body %}
